<div ng-controller="QAController as C">
<h1>Login</h1>
    Name:<input type="text" ng-model="C.user.name" placeholder="Name">
    <button ng-click="C.login()" class="btn btn-primary">ENTER</button>
</div>
