<div ng-controller="QAController as C">

  <div ng-init="C.activate()"></div>
  <div>
    Welcome {{C.user.name}}
    <a ng-href="#/questions" class="btn btn-primary">Home</a>
    <button ng-click='C.logout()' class="btn btn-primary">Logout</button>
  </div>
  <div>
    <h2>New Question</h2>
    <div>
      <div>
        Question:<textarea ng-model="C.question.question" cols="30" rows="10"></textarea>
      </div>
      <div>
        Description(optional):<textarea ng-model="C.question.description" cols="30" rows="10"></textarea>
      </div>
      <div>
        <button ng-click="C.index()" class="btn btn-warning">Cancel</button>
        <button ng-click="C.createQuestion()" class="btn btn-primary">Open Question</button>
      </div>
    </div>
  </div>
</div>
