<div ng-controller="QAController as C">

  <div ng-init='C.newAnswer()'></div>
  <div ng-init='C.getQuestion(C.question_id)'></div>
  <div>
    Welcome {{C.user.name}}
    <a ng-href="#/questions" class="btn btn-primary">Home</a>
    <button ng-click='C.logout()' class="btn btn-primary">Logout</button>
  </div>
  <div>
    <h2>create answer</h2>
    <div class="well">
      <div>Question:<blockquote>{{ C.question.question }}</blockquote></div>
      <div>Description:<blockquote>{{ C.question.description }}</blockquote></div>
    </div>
    <div>
      <div>
        Your Answer:<textarea ng-model="C.answer.answer" cols="30" rows="10"></textarea>
      </div>
      <div>
        Supporting details for your answer(optional):<textarea ng-model="C.answer.detail" cols="30" rows="10"></textarea>
      </div>
      <div>
        <button ng-click="C.index()" class="btn btn-warning">Cancel</button>
        <button ng-click="C.createAnswer()" class="btn btn-primary">Answer</button>
      </div>
  </div>
</div>
