<div ng-controller='QAController as C'>

  <div ng-init="C.getQuestions()"></div>
  <div ng-if="C.questions">
    <div>
      Welcome {{C.user.name}}
      <button ng-click='C.newQuestion()' class="btn btn-primary">Add Question</button>
      <button ng-click='C.logout()' class="btn btn-primary">Logout</button>
    </div>
    <div>
      Search
      <input type="test" ng-model="filter.question">
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>question</th>
          <th>answers</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="question in C.questions| filter: filter">
          <td>{{ question.question }}</td>
          <td>{{ question.answers.length }}</td>
          <td>
            <button ng-click="C.getQuestion(question._id)" class="btn btn-primary">Show</button>
            <a ng-href="#/newAnswer/{{question._id}}" class="btn btn-primary">Answer</a>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <div ng-if="C.question">

    <div>
      <div>
        Welcome {{C.user.name}}
        <button ng-click="C.getQuestions()" class="btn btn-primary">Home</button>
        <a ng-href="#/newAnswer/{{C.question._id}}" class="btn btn-primary">answer the question</a>
        <button ng-click='C.logout()' class="btn btn-primary">Logout</button>
      </div>
      <div>By: <strong>{{C.question._user.name}}</strong></div>
      <div>Question:<blockquote>{{C.question.question}}</blockquote></div>
      <div>Description:<blockquote>{{C.question.description}}</blockquote></div>
      <div ng-repeat="answer in C.question.answers| orderBy: '-like'" class="well">
        <div>
          Name:<strong>{{ answer.username }}</strong>
        </div>
        <div>
          Answer: <blockquote>{{ answer.answer }}</blockquote>
        </div>
        <div>
          Detail: <blockquote>{{answer.detail}}</blockquote>
        </div>
        <div>
          Likes:{{answer.like}}
          <button ng-click='C.like(answer)' class="btn btn-info">Like</button>
        </div>
      </div>
    </div>
  </div>
</div>
